#newlocationform {
  border: solid 2px black;
}
#shops {
  border: solid 2px blue;
  background-color: red;
}
table {
  width: 1000px;
}
td {
  border: solid 2px #4039ff;
  border-spacing: 5px 10px;
  background-color: #a339ff;
}
th {
  border: solid 2px black;
  border-spacing: 5px 10px;
  background-color: #39efff;
}
