#newlocationform {
  border: solid 2px black;
}
#shops {
  border: solid 2px blue;
  background-color: red;
}
table {
  width: 1000px
}
td {
  border: solid 2px violet;
  border-spacing: 5px 10px;
  background-color: grey;
}
th {
  border: solid 2px green;
  border-spacing: 5px 10px;
  background-color: orange;
}
